* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

/* Todo Diseñad, maquetado y animado por Miguel Zabala F. */
:root{
    --Degrade: linear-gradient(to right, var(--Purple), var(--Blue));
}

.DestacadosContainer{
    /* border: 1px solid red; */
    width: 95%;
    height: auto;
    padding: .5em;
    margin: 0 auto;
    display: grid;
    grid-template: 120px / repeat(10, minmax(85px, 100px));
    grid-gap: 1em;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.3s;
    overflow: auto;
}


.DestacadosContainer a{
    text-decoration: none;
}
    .DestacadosContainer .item{
        border: 1px solid #E5E5E5;
        /* border-bottom: 5px solid rgba(0,0,0,0.15); */
        background-color: white;
        height: 120px;
        padding: 0.5em;
        border-radius: 5px;
        transition: all 0.3s;
        align-items: center;
    }


    .DestacadosContainer .item:hover figure{
        border: 5px solid var(--Purple);
    }


    .DestacadosContainer .item figure{
        max-width: 70%;
        height: auto;
        margin: auto;
        border: 3px solid #E5E5E5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        margin: 0.5em auto;
        margin-top: 0;
        transition: all 0.3s;
    }
    .DestacadosContainer .item figure img{
        width: 100%;
        height: auto;
    }
    .DestacadosContainer .item .title{
        display: flex;
        justify-content: center;

    }
    .DestacadosContainer .item small{
        color: rgba(0,0,0,0.50);
        font-weight: bold;
        width: 100%;
        text-align: center;
        margin-bottom: 0.5em;
    }
    .containerContent:nth-child(2){
        display: flex;
        justify-content: center;
    }
    .containerContent:nth-child(2) small{

        opacity: 0.3;
        margin-bottom: 0.5em;
        text-align: center;
        
    }
.containerContent .containerContentTitle{
    width: 95%;
    margin: auto;
    color: var(--DarkPurple);
    border-bottom: 2px solid var(--Purple) ;
}
.certificacionesContainer{
    /* border: 1px solid blue; */
    width: 95%;
    height: auto;
    padding: 1em 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 550px));
    grid-gap: 1em;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.3s;
}

.certificaciones{
    border: 1px solid var(--lightGray);
    background-color: white;
    display: block;
    border-radius: 5px;
    padding: 0.5em;
    transition: all 0.3s;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}

    .certificaciones:hover .cHTitle a span{
        color: rgb(247, 255, 131);
    }
    .certificacionesHeader{
        /* border: 1px solid red; */
        padding: 0.5em 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid var(--lightGray);
    }
        .cHImage{
            border: 2px solid var(--lightGray);
            width: 100px;
            height: 100px;
            border-radius: 50%;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s;
        }
        .cHImage img{
                width: 100%;
                border-radius: 50%;
                transition: all 0.3s;
            }
            .certificaciones:hover .cHImage{
                border: 5px solid var(--Purple);
            }


        .cHTitle{
            /* border: 1px solid blue; */
            height: auto;
            width: 70%;

        }
            .cHTitle h2{
                height: 50%;
                margin: 0.2em ;
                display: flex;
                align-items: center;
                justify-content: start;
                /* border: 1px solid red; */
            }
            .cHTitle a{
                height: 40%;
                padding: 0.3em 0;
                /* border: 1px solid red; */
                margin: 0.2em;
                display: flex;
                align-items: center;
                justify-content: center;
                text-decoration: none;
                font-size: 16px;
                color: white;
                background-color: var(--Purple);
                border-radius: 5px;
                border-bottom: 2px solid var(--DarkPurple);
                font-weight: 600;
                transition: all 0.3s;
            }
            .cHTitle a span{
                font-size: 18px;
                margin: 0.5em;
            }

            .cHTitle a:hover{
                background-color: var(--DarkPurple);
            }
            


    .certificacionesContent{
        /* border: 1px solid blue; */
        margin: 00 0 0 0;
        padding: 0.5em 0.5em;
        height: auto;
    }

        .certificacionesContent p{
            font-size: 16px;
            color: rgba(0,0,0, 0.6);
            margin: 0.2em;
        }




/* MEDIAQUERIES ~ MIGUEL ZABALA F */

@media screen and (max-width:768px){
    .DestacadosContainer{
        width: 100%;
    }
}
@media screen and (min-width: 320px) and (max-width: 500px){

    .cHImage{
        width: 70px;
        height: 70px;
    }

    .cHTitle{
        display: inline-block;
        align-items: flex-start;
        justify-self: start;
    }
    .cHTitle h2{
        height: 50%;
        padding: 0.2em 0;
        display: flex;
        align-items: center;
        justify-content: start;
        font-size: 16px;
    } 

    .cHTitle a{
        padding: 0.2em 0;
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
    }
}
@media screen and (max-width:791px) and (min-width:320px){
    .certificacionesContainer{
        grid-template-columns: repeat(auto-fill, minmax(250px, 550px));
    }
}

@media screen and (max-width: 1178px) and (min-width:792px){

    .certificacionesContainer{
        grid-template-columns: repeat(auto-fill, minmax(150px, 350px));
    }

    .cHImage{
        width: 80px;
        height: 80px;
    }

    .cHTitle h2{
        height: 50%;
        padding: 0.2em 0;
        display: flex;
        align-items: center;
        justify-content: start;
        font-size: 20px;

    }

    .cHTitle a{
        padding: 0.2em 0;
        display: flex;
        align-items: center;
        font-size: 16px;
    }


}

@media screen and (max-width: 1073px){
    .certificacionesContainer{
        padding: 1em;
    }
}
